{{detail}}
<div class="cardDetail">
    <h1>Detalle del Producto</h1>

    <div class="product-details">
        <img src={{thumbnails}} alt="" />
        <h2>{{title}} {{description}}</h2>
        <h4>Precio:</h4><p>${{price}}</p>
        <h4>Categoría:</h4><p>{{category}}</p>
        <h4>Disponibilidad:</h4><p>{{stock}}</p>
    </div>

    <div class="product-actions">
        <a href="/products">Volver para Comprar</a>
    </div>
</div>

<script src="/js/detailProducts.js"></script>