<hr />
<div class="container">
    {{#if productos.validPage}}
    <div class="row">
        {{#each productos.payload}}
        <div class="col-3">
            <div class="card mt-2" style="min-width: 18rem;">
                <div class="card-body">
                    <img src={{this.thumbnails}} class="card-img-top" alt="..." />
                    <p>Categoría: <i>{{this.category}}</i></p>
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">Precio: {{this.price}} | Stock: {{this.stock}}</p>
                    <button class="btn btn-primary" src="">Detalles</a>
                    <button class="btn btn-primary" onclick="addProductoToCart('{{this._id}}', '{{../user.cartId}}');">Agregar al Carrito</a>
                </div>
            </div>
        </div>
        {{/each}}

        <div class="pagination">
                {{#if productos.hasPrevPage}}
                <li class="page-item">
                    <a href="{{productos.prevLink}}" class="page-link">
                        Anterior</a>
                </li>
                {{/if}}

                &nbsp;
                <li class="page-item">
                <a class="page-link" href="">{{productos.page}} / {{productos.totalPages}}</a>
                 </li>
                 &nbsp;

                {{#if productos.hasNextPage}}
                <li class="page-item">
                    <a href="{{productos.nextLink}}" class="page-link">Siguiente</a>
                </li>
                {{/if}}
            </div>
    </div>
    {{else}}
    <div>
        <p>La página ingresada no está en el rango válido</p>
    </div>
</div>
{{/if}}


<script src="/js/product.js"></script>